<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Device Detail">
  <ion-content class="padding">
    <div class="list card" id="deviceDetails-card21">
            <ion-item class="item-avatar dark  device-back" id="deviceDetails-list-item2">
                <img src="img/DqqPMtdlRD2XRCMfuVVP_11310763-touch-pad.jpg">
                <h2dark>Device name
                    <p>Created on</p>
                </h2dark>
            </ion-item>
            <div class="item item-body" id="deviceDetails-list-item-container1">
                <div id="deviceDetails-null" style="margin-top:0px;color:#000000;">
                    <p>Some friendly
                        <strong>markdown</strong>
                    </p>
                </div>
            </div>
            <ion-item class="item-icon-left assertive" id="deviceDetails-list-item3">
                <i class="icon ion-ios-trash-outline"></i>Delete device</ion-item>
        </div>
  </ion-content>
</ion-view>
