<ion-view view-title="Profile">
  <ion-content padding="true" class="has-header">
        <form id="addNewDevice-form2" class="list">
            <label class="item item-input item-stacked-label" id="addNewDevice-input4">
                <span class="input-label">Device username</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-select" id="addNewDevice-select3">
                <span class="input-label">Device type</span>
                <select>
                    <option>Aircond</option>
                    <option>Lamp</option>
                    <option>Fridge</option>
                </select>
            </label>
        </form>
        <button id="addNewDevice-button3" class="button button-balanced  button-block">Register device</button>
    </ion-content>
</ion-view>
