<ion-view view-title="Device">
  <ion-content>
    <ion-list id="device-list1" class="manual-list-fullwidth" ng-repeat="device in devices track by device.id">
       <ion-item class="item-thumbnail-left item-icon-right" id="device-list-item1" ui-sref="tab.deviceDetails({id: device.id})">
               <!-- <img src="img/LT9LhmGRSdaP8A5TQiTX_11310763-touch-pad.jpg"> -->
                <img src="img/{{device.type}}.png">
                <h2>{{device.username}} {{device.type}}</h2>
                <p>Registered on {{device.createDate}}</p>
                <i class="icon ion-android-arrow-dropright icon-accessory"></i>
            </ion-item>
    </ion-list>
        <a ui-sref="tab.deviceAdd" id="device-button4" class="button button-positive  button-block">Add new device</a>
  </ion-content>
</ion-view>
