<ion-view view-title="Dashboard">
  <ion-content class="padding" id="menu-dashboard-content">

    <center><img src="img/logo.png"><h4>Statistics</h4></center>
    <div class="menu-panel">
            <div class="row">
                <div class="col-33" ng-click="showToast('Image')">
                    <i class="icon ion-cube"></i>

                    <p><strong> 3 Devices</strong></p>
                </div>
                <div class="col-33" ng-click="showToast('Music')">
                    <i class="icon ion-ios-people"></i>

                    <p><strong>4 Users</strong></p>
                </div>
                <div class="col-33" ng-click="showToast('Camera')">
                    <i class="icon ion-chatbubble"></i>

                    <p><strong> 3 New Messages</strong></p>
                </div>
            </div>

        </div><!--end panel section-->
  </ion-content>
</ion-view>
